<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627666439362-pgjqh2a2l272vdo5l04ktljomsb5395t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627666439362-pgjqh2a2l272vdo5l04ktljomsb5395t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>627666439362-562vpbbm1vmrgr9ld9p3s9vj1rkqod89.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCwT0pUJFkP_WIPCtn8liaaV4eAtQa4fM0</string>
	<key>GCM_SENDER_ID</key>
	<string>627666439362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.neetisthebest.Duxin</string>
	<key>PROJECT_ID</key>
	<string>duxin-app</string>
	<key>STORAGE_BUCKET</key>
	<string>duxin-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627666439362:ios:0c3e71934b300e61fa7f5b</string>
</dict>
</plist>